.apply {
    padding-top: 100px;
    padding-bottom: 80px;
    --dropdown-position: 45px;
    --dropdown-menu-height: 62px;
    --dropdown-input-padding-left: 24px;
    --dropdown-input-padding-left-m: 16px;
    --triangele-width: 10px;
    --rectangle-name-width: 116px;
    --rectangle-phone-width: 190px;
    position: relative;
}

@media(max-width: 800px) {
    .apply {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.apply::after {
    position: absolute;
    background-image: url("../background/apply.png");
    opacity: 0.5!important;
    z-index: -1;
    width: 80%;
    height: 100%;
    content: "";
    left: 20%;
    top: 50px;
}

@media (max-width: 800px) {
    .apply::after {
        position: absolute;
        background-image: url("../background/apply.jpeg");
        left: 0%;
        opacity: 0.3!important;
        z-index: -1;
        width: 100%;
        content: "";
        object-fit: contain;
    }
}

.apply .main {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 60px 0px 60px 0px;
    word-break: keep-all;
    text-align: center;
}

@media (max-width:800px) {
    .apply .main {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 50px
    }
}

.apply .apply-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 750px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: ". content .";
}

@media (max-width: 800px) {
    .apply .apply-box {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .apply .apply-box {
        grid-template-columns: 70fr 868fr 70fr;
    }
}

.apply .virtual-div {
    grid-area: content;
}

.apply .apply-part {
    margin-top: 50px;
    padding-bottom: 32px;
    position: relative;
}

.apply .sub-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.apply .apply-part:hover {}

.apply .apply-part .select-part {
    width: 100%;
    height: var(--dropdown-menu-height);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ECEEF5;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: var(--dropdown-input-padding-left);
    margin-top: 16px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .apply .apply-part .select-part {
        padding-left: var(--dropdown-input-padding-left-m);
    }
}

.apply .apply-part .spec-part {
    width: calc(100% - var(--dropdown-input-padding-left) - 2px);
    height: var(--dropdown-menu-height);
    font-weight: 400;
    font-size: 18px;
    line-height: 62px;
    color: black;
    border: 1px solid #ECEEF5;
    padding-left: 24px;
    text-align: left;
    transition: 0.3s opacity;
}

.apply .apply-part .select-part__HC {
    position: absolute;
    top: calc(var(--dropdown-menu-height) + var(--dropdown-position));
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid black;
    display: none;
}

.apply .apply-part .select-part__MC {
    position: absolute;
    top: calc(2* var(--dropdown-menu-height) + var(--dropdown-position));
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid black;
    display: none;
}

.apply .apply-part .select-part__DB {
    position: absolute;
    top: calc(3 *var(--dropdown-menu-height) + var(--dropdown-position));
    z-index: 2;
    background-color: white;
    display: none;
}

.select-part-dropdown {}

.spec-part-dropdown {
    width: 350px;
}

.apply .apply-part .select-part>img {
    width: 27px;
    height: 27px;
    margin: 5px;
}

.apply .name-phone-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apply .name,
.apply .phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    box-sizing: border-box;
    width: 47%;
    position: relative;
}

.apply {}

.apply .phone {
    text-align: right;
}

@media (max-width: 800px) {}

.apply .name input,
.apply .phone input {
    margin-top: 16px;
    width: 100%;
    height: var(--dropdown-menu-height);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #ECEEF5;
    box-sizing: border-box;
    padding-left: calc(var(--dropdown-input-padding-left) - 2px);
    border-radius: 5px;
    color: #414141;
}

.apply .name input::placeholder,
.apply .phone input::placeholder {
    color: #9D9D9D;
}

@media (max-width: 700px) {
    .apply .name input,
    .apply .phone input {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        padding-left: var(--dropdown-input-padding-left-m)
    }
}

.apply .name-error,
.apply .phone-error {
    transition: 0.3s all;
}

.apply .triangle,
.apply .rectangle {
    position: absolute;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: -0.05em;
    font-weight: 300;
}

.apply .triangle {
    width: 0px;
    height: 0px;
    border-bottom: var(--triangele-width) solid #414141;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    letter-spacing: 0.05em;
    right: calc(50% - var(--triangele-width));
}

.apply .rectangle {
    height: 33px;
    background: #414141;
    border-radius: 8px;
    color: white;
    text-align: center;
    bottom: -42px;
}

.apply .name-error .triangle {}

.apply .name-error .rectangle {
    width: var(--rectangle-name-width);
    right: calc(50% - (var(--rectangle-name-width)/2));
}

.apply .phone-error .rectangle {
    width: var(--rectangle-phone-width);
    right: calc(50% - (var(--rectangle-phone-width)/2));
}

.apply .mini-text {
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #9D9D9D;
    font-family: 'Noto Sans KR';
}

@media(max-width: 800px) {
    .apply .mini-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
    }
}

.apply .submit {
    display: block;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 50px;
    width: 487px;
    height: 65px;
    color: white;
    background: var(--theme-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}

@media (max-width:800px) {
    .apply .submit {
        width: 100%;
    }
}

.apply .pop-up {
    width: 486px;
    height: 366px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
    transition: 0.5s all;
}

@media (max-width:800px) {
    .apply .pop-up.mobile {
        width: 330px;
        height: 240px;
    }
}

.apply .pop-up .x-div {
    text-align: right;
}

.apply .pop-up .x-div .out {
    width: 26px;
    height: 26px;
    margin: 48px 48px 0px auto;
    cursor: pointer;
}

.apply .pop-up .main {
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
}

.apply .pop-up.pc .main {
    margin: 18px auto 50px auto;
}

@media (max-width:800px) {
    .apply .pop-up .main {
        margin: 48px auto 30px auto;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
    }
}

.apply .pop-up .sub {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

@media (max-width:800px) {
    .apply .pop-up .sub {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }
}

.apply .pop-up .btn-div {
    display: block;
    text-align: right;
    margin-top: 32px;
    margin-right: 32px;
}

.apply .pop-up .btn-div .out {
    cursor: pointer;
    background-color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

@media (max-width:800px) {
    .apply .pop-up .btn-div .out {
        width: 45px;
        height: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
    }
}

.apply .pop-up-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 3;
    transition: 0.5s all;
}