/*
궁금한 점이 있다면? 부분 
*/

.contact {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact .title {
    margin: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    word-break: keep-all;
}

.contact .sub {
    display: inline-block;
    width: 100%;
}

.contact .sub>div {
    font-weight: 400;
    font-size: 16px;
    line-height: 34.75px;
    text-align: center;
}

.contact .phone {
    background-color: var(--back-color);
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    border-radius: 4px;
    height: 94px;
    width: 400px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .box:hover {
    cursor: pointer;
}

.contact .logo {
    width: 24px;
    height: 24px;
    margin: 4px;
}