.footer {
    text-align: center;
    background-color: var(--font-color);
    position: relative;
    color: white;
    word-break: keep-all;
    font-size: 0px;
}

.footer p {
    font-family: 'NotoSans-Regular';
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.footer.mobile {
    display: none;
}

.footer a {
    margin: 0px;
}

@media (max-width:800px) {
    .footer.pc {
        display: none;
    }
    .footer.mobile {
        display: block;
    }
    .footer p {
        font-size: 12px;
    }
}

.footer * {
    margin: 10px;
}

.footer p:first-child {
    padding-top: 40px;
    margin-top: 0px;
}

.footer p:last-child {
    padding-bottom: 40px;
    margin-bottom: 0px;
}