@import url("header.css");
@import url("about.css");
@import url("contact.css");
@import url("apply.css");
@import url("footer.css");
:root {
    --back-color: white;
    --theme-color: #834E00;
    --font-color: #414141;
    scroll-behavior: smooth;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('https://s3.ap-northeast-2.amazonaws.com/dev.app.dangjib.com/asset/common/font/NotoSans-Regular.otf');
}

@font-face {
    font-family: 'NotoSans-DemiLight';
    src: url('https://s3.ap-northeast-2.amazonaws.com/dev.app.dangjib.com/asset/common/font/NotoSans-DemiLight.otf');
}

@font-face {
    font-family: 'NotoSans-Light';
    src: url('https://s3.ap-northeast-2.amazonaws.com/dev.app.dangjib.com/asset/common/font/NotoSans-Light.otf');
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url('https://s3.ap-northeast-2.amazonaws.com/dev.app.dangjib.com/asset/common/font/NotoSans-Medium.otf');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('https://s3.ap-northeast-2.amazonaws.com/dev.app.dangjib.com/asset/common/font/NotoSans-Bold.otf');
}

body {
    margin: 0px;
    padding: 0px;
}

body * {
    letter-spacing: -0.05em;
}

input,
textarea,
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

button {
    border: white;
}

button:hover {
    cursor: pointer;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    margin: 0px;
}